<!DOCTYPE html>
<html lang="en">
{{> header }}
<body>
  <nav>
    <h4>LORAWAN</h4>
    <ul>
      <li><a href="/logged">Pagina Inicial</a></li>
      <li><a href="/sensors">Meus Sensores</a></li>
      <li><a href="/locals">Locais</a></li>
      <li><a href="/users">Gerenciar Utilizadores</a></li>
      <li><a href="/listsensors">Gerir Sensores</a></li>
      <li><a href="/logout">Log Out</a></li>
    </ul>
  </nav>

  <div class="delete-user-container">
    <h1>Confirmar Exclusão</h1>
    <p>Tem certeza de que deseja excluir o usuário {{user.email}}?</p>
    <a href="#" id="delete-link">Sim, Excluir</a>
  </div>










   <script>
    // Adicionar um evento de clique ao link "Sim, Excluir"
    document.getElementById('delete-link').addEventListener('click', (event) => {
      event.preventDefault(); // Impedir o comportamento padrão do link

      // Enviar a requisição DELETE para a rota de exclusão do usuário
      fetch(`/users/delete/${user.id}`, {
        method: 'DELETE',
        headers: {
          'Content-Type': 'application/json'
        },
      })
      .then(response => {
        if (response.ok) {
          // Se a exclusão for bem-sucedida, redirecionar para a lista de usuários
          window.location.href = '/users';
        } else {
          // Se ocorrer um erro, exibir uma mensagem de erro
          alert('Erro ao excluir o usuário.');
        }
      })
      .catch(error => {
        console.error('Erro ao excluir o usuário:', error);
        alert('Erro ao excluir o usuário.');
      });
    });
  </script>
</body>
</html>
