<!DOCTYPE html>
<html lang="en">
<head>
  <title>Leituras de Temperatura and Humidade</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/style.css" >
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin=""/>
</head>
<body>

<nav>
  <h4>LORAWAN</h4>
  <ul>
    <li><a href="/logged">Pagina Inicial</a></li>
    <li><a href="/sensors">Meus Sensores</a></li>
    <li><a href="/locals">Locais</a></li>
    <li><a href="/logout">Log Out</a></li>
  </ul>
</nav>

<div class="container mt-4">
  <div class="card">
    <div class="card-header">
      Editar Sensor 
    </div>

    <div class="card-body">
      <form id="sensorForm" action="/sensors/editsensor/{{sensor.sensorname}}" method="POST">
        
        <div class="mb-3">
          <label for="devEUI">Novo DEV EUI:</label>
          <input type="text" class="form-control" id="devEUI" name="devEUI" required>
        </div>

        <div class="mb-3">
          <label for="appKey"> Nova APP KEY:</label>
          <input type="text" class="form-control" id="appKey" name="appKey" required>
        </div>

        <div class="mb-3">
          <label for="sensorname">Novo nome do sensor:</label>
          <input type="text" class="form-control" id="newSensorname" name="newSensorname" placeholder="Ex. Quintal, Jardim, Vinha" required>
        </div>

       <div id="map" style="height: 400px;"></div>

        <div class="mb-3">
          <label for="description" class="form-label">Nova Descriçao do sensor:</label>
          <input type="text" class="form-control" id="description" name="description" placeholder="Ex. vista para jardim, vista da vinha" required>
        </div>

        <div class="mb-3">
          <label for="local" class="form-label">Novo Local:</label>
          <select name="localId" class="form-control" id="localId">
            <option value="" selected>Selecione um local existente</option>
            {{#each locals}}
            <option value="{{this.id}}">{{this.localName}}</option>
            {{/each}}
            <option value="new">Novo Local</option>
          </select>
          <small id="newLocalHelp" class="form-text text-muted">Caso a localização desejada não esteja listada, selecione "Novo Local" e insira o nome do novo local abaixo.</small>
        </div>

        <div class="mb-3">
          <label for="newLocal" class="form-label">Novo Local:</label>
          <input type="text" class="form-control" id="newLocal" name="newLocal">
        </div>

        <div class="mb-3">
          <label for="newLocalDescription" class="form-label"> Descrição do Novo Local:</label>
          <input type="text" class="form-control" id="newLocalDescription" name="newLocalDescription">
        </div>

        <button type="submit" name="save_select" class="submit">Editar Sensor</button>

        <button class="back"> 
          <a href="sensors">
            Voltar
          </a>
        </button>
         
      </form>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.4/dist/leaflet.js"></script>
 
<script>
//Script para inicializar e renderizar o mapa 
  // Função para criar o mapa e adicionar marcador
  function createMap() {
    // Inicialize o mapa
    const map = L.map('map');

    // Configure a exibição do mapa
    map.setView([39.598281, -8.414841], 13); // Define a visualização padrão

    // Adicione um tile layer
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
      maxZoom: 18
    }).addTo(map);

    // Adicione um marcador ao clicar no mapa
    map.on('click', function(event) {
      const latitude = event.latlng.lat;
      const longitude = event.latlng.lng;

      // Remova marcadores anteriores, se houver
      map.eachLayer(function(layer) {
        if (layer instanceof L.Marker) {
          map.removeLayer(layer);
        }
      });

      // Crie um marcador para a nova localização
      const marker = L.marker([latitude, longitude]).addTo(map);

      // Armazene as coordenadas da nova localização nos campos de formulário
      document.getElementById('latitude').value = latitude;
      document.getElementById('longitude').value = longitude;
    });
  }

  // Chame a função para criar o mapa e adicionar o marcador
  createMap();
</script>

<script>
   const devEUIInput = document.getElementById('devEUI');
  const appKeyInput = document.getElementById('appKey');
  const sensorForm = document.getElementById('sensorForm');

  console.log('New Sensor Name:', document.getElementById('sensorname').value);
  
  sensorForm.addEventListener('submit', function(event) {
    // Validação do devEUI (formato XXXXXXXXXXXXXXXX)
    const devEUIRegex = /^[0-9A-Fa-f]{16}$/;
    if (!devEUIRegex.test(devEUIInput.value)) {
      event.preventDefault(); // Impede o envio do formulário
      alert('O devEUI deve ter 16 caracteres hexadecimais (0-9, A-F).');
      return;
    }
    
    // Validação do appKey (formato XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX)
    const appKeyRegex = /^[0-9A-Fa-f]{32}$/;
    if (!appKeyRegex.test(appKeyInput.value)) {
      event.preventDefault(); // Impede o envio do formulário
      alert('O appKey deve ter 32 caracteres hexadecimais (0-9, A-F).');
      return;
    }
  });
</script>
</body>
</html>
