<!DOCTYPE html>
<html lang="en">
<head>
  <title>Temperature and Humidity Readings</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="style.css" >
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />


</head>
<body>

<nav>
		<h4>LORAWAN</h4>
		<ul>
            
            <li><a href="/sensors">My Sensors</a></li>
            <li><a href="/locals">Locals</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/logout">Logout</a></li>
            
			
		</ul>
	</nav>


<div class="container mt-4">
    <div class="home">
        <h1>Welcome to Temperature and Humidity Readings {{email}}</h1>
        
        <div id="map">

        </div>
        <h2>Aqui depois ver que informação meter na pagina inicial</h2>
        
    </div>
</div>

</div>




</body>
<!-- <script src ="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src = "/socket.io/socket.io.js"></script>
{{!-- <script src = "/processdata.js"></script> --}} -->

</html> 

<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>


{{!-- Leaflet js --}}
<script>
// Map initilization
    var map = L.map('map').setView([39.78, -8.93], 25);

//osm layer

var osm= L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})

osm.addTo(map);

//Topo Map --> É Outro estilo de mapa 
var topoMap = L.tileLayer('https://{s}.tile.opentopomap.org/{z}/{x}/{y}.png', {
	maxZoom: 17,
	attribution: 'Map data: &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, <a href="http://viewfinderpanoramas.org">SRTM</a> | Map style: &copy; <a href="https://opentopomap.org">OpenTopoMap</a> (<a href="https://creativecommons.org/licenses/by-sa/3.0/">CC-BY-SA</a>)'
});

//topoMap.addTo(map);


//MARKER
//Marker Style 
var myIcon = L.icon({
    iconUrl: 'images/sensor.png',
    iconSize:     [40, 40], // size of the icon

});

var marker= L.marker([39.78, -8.93], {icon: myIcon});
var popup= marker.bindPopup('Estou Aqui');

marker.addTo(map);

</script>
