<!DOCTYPE html>
<html lang="en">
<head>
  <title>Leituras de Temperatura and Humidade</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/style.css" >
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>


</head>
<body>

<nav>
		<h4>LORAWAN</h4>
		<ul>
            <li><a href="/register">Registo</a></li>
			<li><a href="/login">Login</a></li>
			
		</ul>
	</nav>


<div class="container mt-4">
    <div class="home">
        <h2>Welcome to Monitorização de Dados em Redes de Sensores suportadas pela TTN-Tomar</h2>
        
        <div id="map"></div>

        <div class="texto_notlogged">
            <h5>Se ja tem conta efetue o <a href="/login">Login</a></h5>
            <h5>Se nao tem conta efetue o registo na aba <a href="/register">Registo</a></h5>
        </div>
        
    </div>
</div>

</div>




</body>
<!-- <script src ="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src = "/socket.io/socket.io.js"></script>
{{!-- <script src = "/processdata.js"></script> --}} -->

</html> 

<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>


{{!-- Leaflet js --}}
<script>
 // Function to create the map and add marker at user location
  function createMap(userLatitude, userLongitude) {
    // Map initialization
    var map = L.map('map').setView([userLatitude, userLongitude], 15);

    // OSM layer
    var osm = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    });
    osm.addTo(map);

    // Marker
    var myIcon = L.icon({
      iconUrl: 'images/sensor.png',
      iconSize: [40, 40],
    });

    // Add marker at user location
    var marker = L.marker([userLatitude, userLongitude], { icon: myIcon }).addTo(map);
    marker.bindPopup('Está Aqui').openPopup();
  }

  // Get user's geolocation coordinates if available
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(
      function (position) {
        const userLatitude = position.coords.latitude;
        const userLongitude = position.coords.longitude;
        createMap(userLatitude, userLongitude);
      },
      function (error) {
        console.error('Error getting user location:', error);
        // Use default location if geolocation is denied or unavailable
        createMap(39.524210, -8.403460); // Default location
      }
    );
  } else {
    // Use default location if geolocation is not available
    createMap(39.524210, -8.403460); // Default location
  }

</script>
