<nav>
		<h4>LORAWAN</h4>
		<ul>
            <li><a href="/">Home</a</li>
            <li><a href="/register">Register</a</li>
            <li><a href="/login">Login</a</li>
            <li><a href="/sensors">My Sensors</a</li>
            <li><a href="/locals">Locals</a</li>
            <li><a href="/logout">Logout</a></li>
        </ul>
	</nav>


