nav{
    background-color: #563d7c;
    color: #fff;
    padding:30px 60px;
    display: flex;
    justify-content: space-between;
}

nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li{
    list-style:none;

}

nav li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 8px;
}

nav li a:hover {
    color: black;
    text-decoration: none;
   
}

.back{
    color:white;
    text-decoration: none ;
}

#map{
    width:100%;
    height: 50vh;
}

#small_map{
    width: 40%;
    height: 40vh; 
}

.error{
    color:red;
    font-weight: bold;
}

.good{
    color:green;
    font-weight: bold;
}

.perfil{
   max-width:75%; 
   margin :auto;
    margin-top:15px;
  display: flex;
  border: 5px solid purple;
  flex-direction: column;
  align-items: center

}

table {
    width: 100%;
    margin-left: 10px;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  td {
    vertical-align: middle;
  }
  
  .col-sensorname {
    width: 40%;
  }

  .col-location {
    width: 20%;
  }
  
  
  .col-description {
    width: 20%;
  }
  
  .col-actions {
    width: 20%;
    text-align: center;
  }

  .action-buttons{
    display: flex ;
    gap:10px;

  }


  .delete {
    background-color: rgba(150, 50, 50);
    color: white;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
  }

  .edit {
    background-color: rgb(175, 36, 255);
    color: white;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
  }

/* BOTOES SUBMIT E VOLTAR */
.submit {
  color:purple;
  text-decoration: none;
  font-weight: bold;
  
}
  .submit a{
    color:purple;
    text-decoration: none;
    font-weight: bold;
    
  }

  .submit a:hover{
    color:black;
    text-decoration: none;
    font-weight: bold;
    
  }

  .back a{
    color: purple;
    text-decoration: none;
    font-weight: bold;
    
  }
  .back a:hover{
    color: black;
    text-decoration: none;
    font-weight: bold;
    
  }
  
  